page-home {
    .mainCur {
        text-align: center !important;
      }
}
.welcomeBar {
    color: #ffffff;
    float: right;
    padding-right: 50px;
    font-size: 18px;
    margin: 0;
  }
  .topBar{
      padding-right: 50px;
  }
  .topBarBtns{
      margin-right: 10px;
  }